<%- include('../partials/head') %>

<form action="/skills/<%= skill.id %>?_method=PUT" method="POST">
  <input type="text" name="skill" value="<%= skill.skill %>"><br>
  <label>
    <input type="checkbox" name="complete" id="check"<%= skill.complete ? 'checked' : '' %>>
    <h4>Completed</h4>
  </label><br>
  <button type="submit" class="skill-btn">Update Skill</button>
</form>

<%- include('../partials/footer') %>