<%- include('../partials/head') %>

<h3><%= skill.skill %></h3>
<h3>Complete: <%= skill.complete ? 'Yes' : 'No' %></h3>
<a href="/skills/<%= skill.id %>/edit">Edit To-Do</a>

<%- include('../partials/footer') %>